<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highstock Example</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function() {
	//$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=new-intraday.json&callback=?', function(data) {
	$.getJSON('/status/', function(data) {

		// create the chart
		Highcharts.setOptions({
			global: {
				timezoneOffset: -8 * 60	
			}
		});
	
		$('#container').highcharts('StockChart', {

			title: {
				text: 'Memory usage of localhost (KB)'
			},
			
			xAxis: {
				gapGridLineWidth: 0
			},
			yAxis: {
				min : 0,
				title: { text: 'KB'}
			},	
			rangeSelector : {
				buttons : [
				   { type: 'minute',
				     count: 1,
				     text: 'min'},
 
				   {
					type : 'hour',
					count : 1,
					text : '1h'
				}, {
					type : 'day',
					count : 1,
					text : '1D'
				}, {
					type : 'all',
					count : 1,
					text : 'All'
				}],
				selected : 1,
				inputEnabled : false
			},
			
			series : [{
				name : 'Memory',
				type: 'area',
				data : data,
				gapSize: 5,
				tooltip: {
					valueDecimals: 2,
				},
				fillColor : {
					linearGradient : {
						x1: 0, 
						y1: 0, 
						x2: 0, 
						y2: 1
					},
					stops : [[0, Highcharts.getOptions().colors[4]], [1, 'rgba(146, 227, 255, 0.5)']]
				},
				threshold: null
			}]
		});
	});
});

		</script>
	</head>
	<body>
<div id="container" style="height: 500px; min-width: 500px"></div>
<script src="/static/highchart/js/highstock.js"></script>
<script src="/static/highchart/js/themes/gray.js"></script>
<script src="/static/highchart/js/modules/exporting.js"></script>
	</body>
</html>
